<h1>Profile Edit</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="fields">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="fields">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
