<h1>Users#show</h1>
<%= link_to "edit", edit_user_path%>
  <li><%= current_user.name%></li>
  <li><%= current_user.email%></li>

<h3>Your Projects</h3>
  <% if current_user.projects.any? %>
    <li>
    <% current_user.projects.map do |proj|%>
        <li><%= proj.name %></li>
        <li><%= proj.description %></li>
        <li><%= proj.end_date %></li>
      <% end %>
    </li>
  <% else %>
    <li>YOU GOT NO PROJECTS</li>
  <% end %>

<h3>REWARDS</h3>
<% if current_user.rewards.any? %>
  <li>
    <% current_user.rewards.map do |rew| %>
      <li><%= rew.project.name %></li>
      <li><%= rew.name %></li>
      <li><%= rew.amount %></li>
      <li><%= rew.description %></li>
    <% end %>
  </li>
<% else %>
  <li>NO REWARDS</li>
<% end %>
