
  <div class=”reward-name”>
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Name of this Reward" %>
  </div>
  <div class=”reward-description”>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class=”reward-amount”>
    <%= f.label :amount %><br>
    $<%= f.number_field :amount %>
  </div>
