
  <div id=”rew_name”>
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Name of this Reward" %>
  </div>
  <div id=”rew_description”>
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "Description of this Reward" %>
  </div>
  <div id=”rew_amount”>
    <%= f.label :amount %><br>
    $<%= f.number_field :amount, placeholder: "Cost for Reward" %>
  </div>
