

<h5>Anotha one</h5>
    <div class=”field”>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class=”field”>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class=”field”>
      <%= f.label :amount %><br>
      <%= f.number_field :amount %>
    </div>
