<h1>Edit Project: <%= @project.name %></h1>

<p><%= form_for @project do |f| %></p>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <h2>Project Information</h2>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :media_url %><br>
    <%= f.text_field :media_url %>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
