<h1>New Project</h1>

<div class="test">

  <h2>Project Information</h2>
</div>

<p>
</p>
<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  <% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :funding_goal %><br>
  <%= f.number_field :funding_goal %>
</div>
<div class="field">
  <%= f.label :end_date %><br>
  <%= f.date_field :end_date %>
</div>
<div class="field">
  <%= f.label :media_url %><br>
  <%= f.text_field :media_url %>
</div>

  <div>
    <h2>Rewards</h2>

    <div class="rewardForm">

        <%= f.fields_for :rewards, Reward.new do |reward_fields| %>
          <%= render 'reward_fields', f: reward_fields %>
        <% end %>
        <%= link_to_add_association 'add reward', f, :rewards %>

    </div>
  </div>

<div class="action">
  <%= f.submit %>
</div>

<% end %>
