<h1><%= @project.name %></h1>
<img src="<%= @project.media_url %>" alt="" />
<p><%= @project.owner.name %></p>
<h2><%= @project.funding_goal%></h2>
<h2><%= @project.end_date %></h2>
<p>
  <%= @project.description %>
</p>

<p>
  <%= render @project.rewards %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %>
