<!DOCTYPE html>
<html>
<head>
  <title>Gym</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class='nav-bar'>
      <div class="home-button">
        <%= link_to image_tag('crowdfunder-logo.png'), root_url %>
      </div>
      <ul class='gym-login'>
        <% if current_user %>
        <%= link_to "Logout", :logout, method: :delete %> | <%= link_to "Profile", user_path(current_user) %> | <%= link_to "Back", root_path %>
        <% else %>
        <%= link_to "Login", :login %> | <%= link_to "Sign Up", new_user_path %>
        <% end %>
      </ul>
    </nav>
  </header>

<%= yield %>

  <footer>
    <div class="footer-container">
      <p class="copyright">
        &#169; The 6 Power Rangers
      </p>
    </div>
  </footer>
</body>
</html>
