<!DOCTYPE html>
<html>
<head>
  <title>CrowdFunder</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content= "width-device-with, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<div class= "gym-navigation">
  <ul class = "gym-nav" id = "home-nav">
    <li class><%= link_to 'Home', root_url %></li>
    <li class>
=======
  <div class= "gym-navigation">
    <ul class = "gym-nav" id = "home-nav">
      <li><%= link_to 'Home', projects_path %></li>
        <% if current_user %>
        <li><%= link_to 'Create Project', new_project_path %></li>
        <% else %>
        <li><%= link_to 'Create Project', login_path, alert: "Must Log in to Create a Project" %></li>
        <% end %>
      </ul>
    <ul class = "gym-nav" id= "login">
>>>>>>> 61f4d86e4fde2122e671acf729a73ce133590bb8
      <% if current_user %>
        <li><%= link_to "Logout", :logout, method: :delete %> | <%= link_to "Profile", user_path(current_user) %> | <%= link_to "Back", root_path %></li>
      <% else %>
        <li><%= link_to "Login", :login %> <%= link_to "Sign Up", new_user_path %></li>
      <% end %>
<<<<<<< HEAD
    </li>
    <!-- this must be fixed... its wrong -->
    <li class><a href = "/projects">View Project</a></li>

    <li class="gym-logging">
      <% if current_user %>
        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', login_path %>  <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </li>
  </ul>
</div>

</div>
=======
    </ul>
  </div>

>>>>>>> 61f4d86e4fde2122e671acf729a73ce133590bb8
<%= yield %>

</body>

<footer class="gym-footer">
    Copyright 2016
</footer>

</html>
